html {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: lightblue;
}

body {
    height: 100vh;
    background-image: url("Background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows:1fr 1fr 1fr;
}

input {
    color: blue;
    font-size: 30px;
}

#container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    padding: 50px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.row.hidden{
    display: none
}